body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;

}

.container .navbar {
    background-color: whitesmoke;
    overflow: hidden;
    text-align: left;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.logo {
    margin-left: 20px;
}
.title {
    width: 90%;
    margin: auto;
}

.navbar .menu  {
   display: flex;
   justify-content: space-between;
   margin-right: 20px;
   
}

.logo img {
    width: 100px;
    
    margin: 20px 10px;
}


.container .navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
   
}

.container .navbar a:hover {
    transform: scale(1.1);
    color:green;
}



.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.flex-container div {
    width: 12%;
    border:black solid 2px  ;
    margin: 10px;
    overflow: hidden;
    border-radius: 18px;
   
}
.flex-container div img {
    width: 100%;
}

.flex-container > div:hover {
    transform: scale(1.1);
    border-radius: 18px;
}

@media only screen and (max-width: 800px) {
    .flex-container div {
        width: 30%;
    }
  }

  @media only screen and (max-width: 450px) {
    .flex-container div {
        width: 60%;
    }
  }